[Desktop Entry]
Name=GNEGNOLIOS // NERV SYSTEM
Comment=GnegnoliOS NERV System
Exec=ghostty
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;
