LABEL arch
TEXT HELP
Boot the GnegnoliOS live installer on BIOS.
It allows you to install GnegnoliOS or perform system maintenance.
ENDTEXT
MENU LABEL GnegnoliOS live installer (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% console=ttyS0,115200n8 console=tty0 quiet splash

# Accessibility boot option
LABEL archspeech
TEXT HELP
Boot the GnegnoliOS live installer on BIOS with speakup screen reader.
It allows you to install GnegnoliOS or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL GnegnoliOS live installer (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on console=ttyS0,115200n8 console=tty0 quiet splash
